@media screen and (max-width: 676px) {
    .header-section {
        flex-direction: column;
        margin-left: 50px;
    }

    .items {
        flex-direction: column;
        margin-left: 50px;
        gap: 10px;
    }

    .items a:hover {
        background-color: #ddd;
        color: black;
    }

    /* .button-fig{
        flex-direction: column;
        margin-left: 50px;
        width: 50%;
    }
     */
    /* #newsletterSection */
    .form input[type="name"],
    input[type="email"] {
        padding: 16px 60px;
    }

    /* flex section responxive */
    .flex,
    .row,
    .newsletter {
        flex-direction: column;
    }

    .hotel,
    .service {
        width: 100%;
    }

    .subscribe-btn {
        padding: 13px 110px;

    }


    .newsletter-img img {
        width: 100%;
        height: 100%;
    }

    .save-up-badge {
        width: 200px;
        height: 79px;
        transform: rotate(-19.628deg);
        border-radius: 10px;
        background: #FF5400;
        color: #FFF;
        text-align: center;
        padding: 2px;
        position: absolute;
        bottom: 40px;
        left: 160px;
    }

    .save-up-badge p {
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .save-up-badge h3 {
        font-size: 1.2rem;
        font-weight: 800;
        margin-top: 0;
        margin-bottom: 20px;
    }

    /* footer section responsive */
    #footer-section {
        padding: 30px 44px;
    }
}