@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

# {
    font-family: font-family: 'Mulish', sans-serif;

}

.nav-container img {
    object-fit: cover;
    width: 30px;
    display: flex;
}

.nav-container {
    display: flex;
    /* border: 2px solid ; */
    min-height: 20px;

    align-items: center;
    width: 50%;
}

.nav-container p {
    font-size: 30px;
    color: #131318;

}

.name {
    color: #FF5400;
    font-weight: 900px;
}

.header-section {
    max-width: 1200px;
    /* border: 2px solid; */
    margin: 0 auto;
    display: flex;
}

.items {
    /* border: 2px solid ; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.items a {
    text-decoration: none;
    font-size: 20px;
}

.items .home-button a {
    color: #FF5400;
    padding: 10px;
}

.explore-banner {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid green; */
    min-height: 400px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
}

.travel-img img {
    width: 100%;
    object-fit: cover;

}

.travel-greeting {
    text-align: center;
    color: #FFFFFF;
    font-size: 64px;
}

.status {
    max-width: 80%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 16px;
}

.button-fig {
    /* text-align: center; */
    /* border: 8px; */
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid white; */
    text-align: center;

}

.common-button {
    padding: 10px 20px;
    color: black;
    /* border: 2px solid green; */
    border-radius: 10px;
    border-color: none;
    text-align: center
}

.primary-btn {
    color: ;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FF5400;
}

.tour-section {
    min-height: 400px;

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}

.travel-instruction {
    width: 70%;

}

.cover-font {
    color: #131318;
    font-size: 40px;
}

.tour-image {
    max-width: 50%;
    min-height: 20px;
    align-items: center;
}

.tour-image img {
    max-width: 100%;
}

.primary-btn {
    color: ;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FF5400;
    margin-bottom: 80px;
}

.desti-select {
    text-align: center;

}

.place {
    font-size: 60px;
    color: #131318;
    text-align: center;
    max-width: 100%;
}

.row>img {
    width: 100%;

}

.row {
    display: flex;
    gap: 10px;
    margin-top: 24px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

.flex {
    display: flex;
    gap: 24px;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel,
.service,
.price {
    width: 573px;
    height: 284px;
    align-items: center;
}

.service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
    margin-top: 24px;
}

.hotel-content,
.service-content,
.price-content {
    padding: 32px;
}

.text-section {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;

    text-align: center;
    margin-top: 50px;
    margin: 0 auto;
    align-items: center;

}

.section-text-des {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;
    margin-top: 10px;
}


.choose-container {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 30px;
}

/* #newsletter part */
#newsletter-part {
    margin-top: 30px;
    margin-bottom: 100px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.newsletter {
    display: flex;
    gap: 24px;
}

.newsletter-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 30px;
}

.newsletter-content h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0;
}

.newsletter-content p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.newsletter-content hr {
    background: rgba(168, 168, 170, 0.1);
}

.newsletter-img {
    position: relative;
}


.form input[type="name"],
input[type="email"] {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 180px 16px 20px;
    margin-top: 16px;
}

.subscribe-btn {
    padding: 13px 150px;
    margin-top: 24px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
}

.subscribe-btn:hover {
    cursor: pointer;
    background-color: rgb(180, 17, 17);
}

.save-up-badge {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 70px;
    left: 325px;
}

.save-up-badge:hover {
    cursor: pointer;
    background-color: gold;
}

.save-up-badge p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

.save-up-badge h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}

/* #footer part */
#footer-section {
    padding: 100px 284px;
    background-color: #1313180D;
    margin-top: 20px;
    /* width: 100%;
max-width: 1200px; */
}

.footer-content {
    text-align: center;
}

.footer-title {
    display: flex;
    grid-area: 16px;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.footer-title img {
    width: 40px;
    height: 46.673px;
}

.footer-content {
    text-align: center;
}

.footer-title {
    display: flex;
    grid-area: 16px;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.footer-title img {
    width: 40px;
    height: 46.673px;
}

.footer-text {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.footer-des {
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-icon {
    text-align: center;
    margin-bottom: 50px;
}

.footer-copyright {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}